<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href='/css/styles.css'>
        <title>About</title>
        <link rel="icon" href="/img/weather-img.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This App is created by Sachin Saxena for determing the weather forecast</p>
            <img src='/img/me.jpg' class="portrait">
        </div>
        {{>footer}}
    </body>
</html>