<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href='/css/styles.css'>
        <title>Help</title>
        <link rel="icon" href="/img/weather-img.png">
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            {{helpText}}
        </div>
        {{>footer}}
    </body>
</html>